<h1>BVWS Platform</h1>

<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla sit amet ipsum dolor. 
Praesent interdum velit eget purus pulvinar, in vestibulum diam dictum.
Aliquam tempus, dui ut varius pretium, lorem magna rutrum diam, eget ultricies nunc sem sit amet nunc. 
Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. 
Aenean fringilla vel dolor a volutpat. Integer mollis, libero accumsan varius venenatis, 
quam nibh pellentesque sem, non placerat urna neque vitae nisl. Duis luctus ac eros at tincidunt.</p>

<p>Donec aliquam elit vel interdum cursus. In consectetur sem sit amet eros pretium fringilla. 
Donec laoreet arcu ornare, hendrerit lacus ullamcorper, vehicula turpis. Suspendisse risus ligula, vestibulum ac ex a, tincidunt pharetra orci. 
Quisque non eleifend ante. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque porta tempor diam a ullamcorper. 
Donec rutrum porttitor sollicitudin. Ut vestibulum eros id elementum feugiat. Mauris at pretium diam. Proin gravida nibh et pharetra finibus.
Aenean et nisl pretium, tempus nisi suscipit, fringilla nunc.
Etiam arcu tortor, lacinia eget tristique et, pharetra bibendum sem. Maecenas vel convallis mi. 
Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p>

<ul>
    <li><strong>Client-side navigation</strong>. For example, click <em>Counter</em> then <em>Back</em> to return here.</li>
    <li><strong>Server-side prerendering</strong>. For faster initial loading and improved SEO, your Angular 2 app is prerendered on the server. The resulting HTML is then transferred to the browser where a client-side copy of the app takes over.</li>
    <li><strong>Webpack dev middleware</strong>. In development mode, there's no need to run the <code>webpack</code> build tool. Your client-side resources are dynamically built on demand. Updates are available as soon as you modify any file.</li>
    <li><strong>Hot module replacement</strong>. In development mode, you don't even need to reload the page after making most changes. Within seconds of saving changes to files, your Angular 2 app will be rebuilt and a new instance injected is into the page.</li>
    <li><strong>Efficient production builds</strong>. In production mode, development-time features are disabled, and the <code>webpack</code> build tool produces minified static CSS and JavaScript files.</li>
</ul>
